<div class="metrics">
    <div class="metrics-menu">
        <div class="dropdown">
            &nbsp;
            <a routerLink="/metrics" class="btn btn-secondary bg-dark" role="button" aria-pressed="true">Dashboard</a>
            &nbsp;
            <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Metrics
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/metrics/blocks-mined">Blocks Mined</a>
                <a class="dropdown-item" routerLink="/metrics/mobs-killed">Mobs Killed</a>
                <a class="dropdown-item" routerLink="/metrics/players-killed">Players Killed</a>
                <a class="dropdown-item" routerLink="/metrics/trades"># Trades</a>
                <a class="dropdown-item" routerLink="/metrics/times-reached-nether">Times Reached Nether</a>
                <a class="dropdown-item" routerLink="/metrics/animals-bred">Animals Bred</a>
            </div>
        </div>
    </div>
    <div class="metric-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th colspan="3" scope="col">Blocks Mined</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>158</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>145</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>121</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Joe</td>
                    <td>112</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bob</td>
                    <td>98</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="metric-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th colspan="3" scope="col">Mobs Killed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Jacob</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Larry</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Joe</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bob</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="metric-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th colspan="3" scope="col">Times Reached Nether</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Jacob</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Larry</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Joe</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bob</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="metric-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th colspan="3" scope="col"># Swords's Created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Larry</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>12</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>8</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Joe</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bob</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="metric-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th colspan="3" scope="col">Amount Diamond Acquired</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Larry</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Joe</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bob</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="metric-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th colspan="3" scope="col"># Wolve's Befriended</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Larry</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>4</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Joe</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bob</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>