<div>
    <app-menu-component></app-menu-component>
</div>
<div class="server">
    <div class="server-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Last Seen</th>
                    <th scope="col">Total Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>10/24/2019 9:58 PM</td>
                    <td>1 hr 5 min</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>10/24/2019 5:36 PM</td>
                    <td>2 hrs 10 min</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>10/24/2019 7:13 PM</td>
                    <td>58 min</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>