<div>
    <app-menu-component></app-menu-component>
</div>
<div class="player">
    <div class="player-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Last Log-in</th>
                </tr>
            </thead>
            <tbody *ngFor="let Player of players; let i = index"> <!--Not alternating colors correctly. Need to compare dates/times to only show last login?-->
                <tr>
                        <th scope="row">{{i+1}}</th>
                         <td>{{Player.PlayerName}}</td>
                         <td>{{Player.Time}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>