div.player {
    margin: 0;
    padding: 0;
    background: url(../../assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

div.player-table {
    width: 60%;
    height: 100vh;
    margin: auto;
    padding-top: 50px;
}