<p>example-users works!</p>
<ul><li *ngFor="let Player of players"> 
    PlayerName: {{Player.PlayerName}} <br>,
    Time: {{Player.Time}} <br>,
    Logged In: {{Player.LoggedIn}} <br>,
    Player Killed: {{Player.PlayerKilled}} <br>,
    Advancement: {{Player.Advancement}}<br>, 
    BlockType: {{Player.BlockType}} <br>,
    BlocksMined: {{Player.BlocksMined}} <br>,
    Mobs Killed: {{Player.MobsKilled}} <br>,
    Players Killed: {{Player.PlayersKilled}} <br>,
    Trades: {{Player.Trades}} <br>,
    trips to Nether: {{Player.TripsToNether}} <br>,
    Animals Bred: {{Player.AnimalsBred}} <br> </li> </ul>






<--!   PlayerName,
Time,
LoggedIn,
PlayerKilled,
Advancement,
BlockType,
BlocksMined,
MobsKilled,
PlayersKilled,
Trades,
TripsToNether,
AnimalsBred,-->