<div class="server-page">
    
    <body>
        <div class="title">
                <h1 style="color:white; text-align:center; font-size:400%;">Server Page</h1>
        </div>
        
        <div class="list">
            <div class="server-settings">
                
                    <label for ="select">
                        Allow Flying
                    </label>
                
                <span class="tab">
                    <select id="Allow Flying" name="Allow Flying" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            
            </div>
            <div class="server-settings">
                <label for ="select">
                    Allow Nether
                </label>
                <span class="tab">
                    <select id="Allow Nether" name="Allow Nether" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Difficulty
                </label>
                <span class="tab">
                    <select id="Difficulty" name="Difficulty" class="server-setting">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Enable Query
                </label>
                <span class="tab">
                    <select id="Enable Query" name="Enable Query" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Enable Rcon
                </label>
                <span class="tab">
                    <select id="Enable Rcon" name="Enable Rcon" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Force Gamemode
                </label>
                <span class="tab">
                    <select id="Force Gamemode" name="Force Gamemode" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Gamemode
                </label>
                <span class="tab">
                    <select id="Gamemode" name="Gamemode" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Generate Structures
                </label>
                <span class="tab">
                    <select id="Generate Structures" name="Generate Structures" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Hardcore Mode
                </label>
                <span class="tab">
                    <select id="Hardcore Mode" name="Hardcore Mode" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Hell World
                </label>
                <span class="tab">
                    <select id="Hell World" name="Hell World" class="server-setting">
                        <option value="1">Enable</option>
                        <option value="2">Disable</option>
                    </select>
                </span>
            </div>
    </div>
    
    </body>
</div>
