<div>
    <app-menu-component></app-menu-component>
</div>
<div class="player">
    <div class="player-table">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Setting Name</th>
                    <th scope="col">Setting Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Allow Flying</td>
                    <td>Disabled</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Allow Nether</td>
                    <td>Enabled</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Difficulty</td>
                    <td>Easy</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Enable Query</td>
                    <td>Disabled</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Enable Rcon</td>
                    <td>Disabled</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Force Gamemode</td>
                    <td>Disabled</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Game Mode</td>
                    <td>Survival</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Generate Setting</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Hardcore Mode</td>
                    <td>Disabled</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Hell World</td>
                    <td>Enabled</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Level Seed</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Level Type</td>
                    <td>Default</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>