<div class="server-page">
    
    <body>
        <div class="title">
                <h1 style="color:white; text-align:center; font-size:400%;">Server Page</h1>
        </div>
        
        <div class="list">
            <div class="server-settings">
                
                    <label for ="select">
                        Allow Flying
                    </label>
                
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            
            </div>
            <div class="server-settings">
                <label for ="select">
                    Allow Nether
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Difficulty
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Lv. 1</h1>
                    </div>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Enable Query
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Enable Rcon
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Force Gamemode
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Gamemode
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Generate Structures
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Hardcore Mode
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            </div>
            <div class="server-settings">
                <label for ="select">
                    Hell World
                </label>
                <span class="tab">
                    <div class="text-box">
                        <h1 style="color:black; text-align:center; font-size:80%;">Enable</h1>
                    </div>
                </span>
            </div>
    </div>
    </body>
</div>